body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.Maincontainer{
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.MainRow{
  flex: 1;
  height: 100%;
  overflow: hidden;
  background-color: rgba(1, 118, 136, 0);
  position: relative;
}
.ImgLayers{
  width: 1200px;
  position: absolute;
}
.background{
  position: absolute; 
  height: 1900x;
  width: 1900px;
  z-index: -999;
  pointer-events: none;


 }
 .frontTint{
  width: 3000px;
  height: 3000px;
  background-color: rgba(2, 18, 33, 0.105);
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}
.BlurFrontG{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 40;
  opacity: 0;
  transition: all 0.8s;
  
  
}
.MainRow:hover .BlurFrontG{
  opacity: 1;
}
.RowInfo{
  top: 50%;
  left: 50%;
  translate: -150px -150px;
  position: absolute;
  width: 300px;
  height: 400px;
} 
.InfoImg{
  position: absolute;
  left: 50%;
  top: 60%;
  scale: 0.9;
  transition: all 0.6s cubic-bezier(.36,0,.05,.99);
  
}
.discript{
  font-family: Figtree, sans-serif;
  font-weight: 200;
  font-size: 11px;
  color: white;
  opacity: 0.6;
  text-align: center;
  width: 180px;
  position: absolute;
  left: 60px;
  bottom: 80px;
  translate: 0px 30px;
  transition: all 0.8s cubic-bezier(.36,0,.05,.99);
  scale: 0.9;
}
.MainRow:hover .discript{
  translate: 0px 0px;
  scale: 1;
}
.MainRow:hover .InfoImg{
  scale: 1;
  translate: 0px 0px;
  top: 50%;
}
.CenterContain{
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}
.ButtonEnter{
  position: absolute;
  bottom: 0px;
  width: 160px;
  height: 32px;
  margin-left: 66px;
  border-radius: 30px;
  border: solid;
  border-color: white;
  border-width: 3px;
  text-align: center;
  font-family: Figtree, sans-serif;
  color: white;
  font-weight: 400;
  font-size: 22px;
  padding-top: 3px;
  translate: 0px 30px;
  transition: all 0.8s, translate 1.2s cubic-bezier(.36,0,.05,.99);
  scale: 0.75;

}
.MainRow:hover .ButtonEnter{
  scale: 1;
  translate: 0px 0px;
}
.ButtonEnter:hover{
  background-color: rgba(255, 255, 255, 0.277);
}
.PlayIcon{
  position: absolute;
  width: 16px;
  top: 9.5px;
  left: 15px;
}
#parent{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 22, 40, 0);
  position: absolute;
}
#plate{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(34, 255, 0, 0);
  position: absolute;
}
.warpperOUT{
  width: 200px;
  height: 200px;
  background-color: rgba(233, 235, 176, 0);
  position: absolute;
  transition: all 3s cubic-bezier(.85,-0.01,.38,1);
  top: 0;
  left: 0;
}
.warpperMed{
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: rgba(176, 226, 235, 0);
}
.warpperIN{
  width: 130px;
  height: 130px;
  top: 35px;
  left: 35px;
  background-color: rgba(208, 112, 9, 0);
  transform-origin: center;
  rotate: 30deg;
  position: relative;
  transition: all 1s, rotate 20s cubic-bezier(.85,-0.01,.38,1);
}
.Blob{
  width: 10px;
  height: 20px;
  background-color: rgb(218, 202, 163);
  position: absolute;
  scale: 1.5;
  opacity: 1;
  transform: rotate(0deg);
  transform-origin: center;
  transition: opacity 2s, scale 1.5s cubic-bezier(.52,-0.01,0,1.34);
}
.BlobActive{
  scale: 1.5;
  background-color: rgb(138, 153, 255);
  opacity: 1;
}
.Blob5{
  width: 10px;
  height: 10px;
  background-color: rgb(218, 202, 163);
  position: absolute;
  scale: 1;
}

.warpperOUTH{
  width: 200px;
  height: 200px;
  background-color: rgba(233, 33, 46, 0);
  position: absolute;
  transition: all 8s, scale 0s cubic-bezier(.85,-0.01,.38,1);
  scale: 1;
}
.warpperINH{
  width: 130px;
  height: 130px;
  top: 35px;
  left: 35px;
  background-color: rgba(217, 123, 187, 0);
  transform-origin: center;
  rotate: 30deg;
  position: relative;
  transition: all 6s, filter 0s cubic-bezier(.85,-0.01,.38,1);
  filter: hue-rotate(-0deg) contrast(1.2);
}
.BlobH{
  width: 10px;
  height: 20px;
  background-color: rgb(218, 202, 163);
  position: absolute;
  scale: 1.3;
  opacity: 1;
  transform: rotate(0deg);
  transform-origin: center;
}
.BlobHC{
  width: 10px;
  height: 20px;
  background-color: rgb(218, 202, 163);
  position: absolute;
  scale: 0.8;
  opacity: 1;
  transform: rotate(0deg);
  transform-origin: center;
}
.BacG{
  transform-origin: center;
  width: 70px;
  height: 90px;
  margin-top: -35px;
  margin-left: -35px;
  scale: 1.3;
 
}
.BacGs{
  transform-origin: center;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  scale: 1.2;
  filter: brightness(1);
  transition: filter 0.8s;

}
.BacH{
  transform-origin: center;
  width: 110px;
  height: 110px;
  margin-top: -55px;
  margin-left: -55px;
}
.Lighter{
  width: 30px;
  height: 30px;
  background-color: rgba(137, 43, 226, 0);
  margin-top: -100px;
  opacity: 1;
}
.loadPage{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 1;
  text-align: center;
  filter: blur(0);
  transition: opacity 0.6s, filter 0.6s cubic-bezier(.85,-0.01,.38,1);
}
.mainLogo{
  transition: all 1.2s cubic-bezier(.85,-0.01,.38,1);
  filter: blur(20px);
  opacity: 0;
  top: 55%;
}
.mainLogoActive{
  filter: blur(0px);
  opacity: 1;
  top: 50%;
}
.loadText{
  filter: blur(20px);
  opacity: 0;
  font-family: Figtree, sans-serif;
  font-weight: 100;
  font-size: 30px;
  top: 55.5%;
  letter-spacing: 2px;
  transition: all 1.3s cubic-bezier(.85,-0.01,.38,1);
}
.loadTextActive{
  filter: blur(0px);
  opacity: 0.8;
  top: 50%;
  letter-spacing: 10px;
}